/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.debug {
    * {
        border: 1px dotted black
    }
}

/* GENERICS */

body {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    padding-top: 3rem;
    font-size: 3.5rem;
    font-weight: bold;
    width: 100%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

/* UTILS */

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-grid {
    display: grid;
}

.grid-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.gap-1 {
    gap: 1rem;
}

.c-gray {
    color: gray;
}

.b-gray {
    border: 1px solid lightgray;
}

.btn-primary {
    margin-left: 1rem;
    background-color: #0061fe;
    padding: 0.5rem;

}

.btn-white {
    background-color: white;
    border: 1px solid gray;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    width: fit-content;

    &:hover {
        color: gray;
        box-shadow: 0 2px 4px gray;
    }
}

.row {
    display: flex;
    gap: 1rem;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-70 {
    width: calc(70% - 1rem);
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

/* HEADER */

header {
    ul *:not(logo) {
        padding: 1.5rem 0;
    }

    padding: 0 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;

    .logo {
        margin-right: 1rem;
    }

    ul {
        gap: 2rem;
    }

    .btn-primary>a {
        color: white;
    }

    li>a:hover {
        border-bottom: 2px solid black;
    }

    .btn-primary:hover {
        background-color: #5895f9;
        box-shadow: 0 2px 4px gray;

    }
}

/* JUMBOTRON */

.jumbotron {
    background-color: #b4d0e6;

    .jumbotron-img>img {
        padding-left: 1rem;
        width: 100%;
        position: absolute;
        bottom: -80px;
        left: 0;
    }

    .jumbotron-img {
        position: relative;
    }

    .jumbotron-content>* {
        padding: 2rem 0;
    }

    .fa-arrow-down {
        font-size: 2rem;
    }

    i {
        padding-bottom: 2rem;
    }

    .btn-free-trial {
        padding: 0.5rem;
        color: white;
        width: fit-content;
    }

    .btn-free-trial:hover {
        background-color: #5895f9;
        box-shadow: 0 2px 4px gray;
    }

    a:hover {
        color: #0061fe;
        text-shadow: 0 10px 8px gray;
    }
}

/* container-sm */

.container-sm {
    margin-top: 150px;

    h2~label {
        margin-right: 1rem;
    }

    /* card */

    .subscription-card {
        margin: 3rem 0;
        border: 1px solid lightgray;
    }

    .card-header {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        border: 1px solid rgb(233, 233, 233);
    }


    .subscription-content>* {
        padding: 1.5rem 1rem;
    }

    .btn-free-trial {
        font-size: 1.1rem;
        background-color: #0061fe;
        padding: 0.8rem 1.5rem;
        color: white;
        width: 75%;
        margin: 2rem auto;
        text-align: center;
    }

    .btn-free-trial:hover {
        background-color: #5895f9;
        box-shadow: 0 2px 4px gray;
    }

    .link-card {
        text-decoration: underline;
        color: blue;
    }

    .separator {
        width: 20%;
        border-top: 1px solid lightgray;
        margin: 1.5rem 1.1rem;
    }

    .fa-check {
        color: #0061fe;

    }

    .left.col-70 {
        padding: 2rem;
    }

    .link-card:hover {
        color: rgb(30, 117, 147);
        text-decoration: none;
    }
}

/* Last card */

.last-column {
    grid-column: span 3;
    margin-bottom: 5rem;
}

.btn-lightblue {
    font-size: 0.8rem;
    background-color: #0061fe;
    padding: 0.8rem 1.5rem;
    color: white;
}

.btn-lightblue:hover {
    background-color: #5895f9;
    box-shadow: 0 2px 4px gray;
}

.left>h3 {
    margin-bottom: 1.5rem;
}

.left>p {
    margin-top: 1.5rem
}

.right {
    margin: 2.3rem 0rem;
}

/* partner dropbox */

.left-section>img {
    width: 100%;
}

.right-section {
    padding: 4rem 2rem;

    & * {
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }
}

section~h2 {
    margin: 5rem 0 3rem;
}


/* GRIGLIA CON TESTI */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.img-grid-item>img {
    width: 100%;
}

h2~a {
    color: blue;
    text-decoration: underline;
}

h2~a:hover {
    color: rgb(30, 117, 147);
    text-decoration: none;
}



footer {
    color: white;
    background-color: black;

    .footer-grid {
        display: grid;
        margin-top: 3rem;
        font-size: small;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
        padding: 2rem 0;
    }

    .menu-footer {
        padding-left: 3rem;

        h3 {
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem 1rem;

        }

        a {
            color: white;
        }
    }

    .lenguage {
        padding-left: 3.4rem;
        padding-bottom: 2rem;
    }

    h3:hover,
    a:hover,
    .lenguage:hover {
        color: #5895f9;
    }
}





/* PAGINA DOWNLOAD APP DESKTOP */


#app-main-desktop {
    * {
        font-family: "Zalando Sans Expanded", sans-serif;
    }

    h1 {
        font-weight: 500;
        padding-top: 0;
    }

    h1~p {
        font-weight: 200;
    }

    .row-full {
        display: flex;
    }

    .col-60.d-flex {
        background-color: #BE4B0A;
        justify-content: center;
        padding: 3rem 0 1.5rem;
        width: 100%;
    }

    .col-40jumbo {
        background-color: #F7F5F2;
        padding: 3rem;
        width: 40%;
    }

    .install-button>a {
        background-color: #0061fe;
        color: blue;
        padding: 2rem 3.5rem 2rem 1.8rem;
        border-radius: 20px;
        font-weight: 700;
    }

    .install-button {
        margin-top: 4rem;
    }

    i {
        padding-left: 4.1rem;
    }

    .other-info {
        margin-top: 4rem;

        a {
            font-weight: 700;
            text-decoration: underline;
        }

        i {
            padding-left: 1rem;
        }
    }

    .bg-black {
        background-color: #1E1919;
    }

    .container-sm {
        text-align: center;

        h2 {
            font-weight: 500;
            font-size: 3rem;
            margin: -150px;
            padding: 100px 0;
            color: #F7F5F2;
            padding-bottom: 150px;
        }

    }

    .left-image-section>img {
        width: 90%;
        object-fit: contain;
        padding: 5rem;
    }

    .row {
        margin-top: 4rem;
        padding-bottom: 5rem;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    .left-image-section {
        background-color: #2B2929;

    }

    .text-section {
        color: white;
        padding: 5rem 0 0 7rem;

        h3 {
            padding-bottom: 1.5rem;
        }

        p {
            padding-bottom: 0.5rem;
        }
    }

    .row-reverse {
        padding-bottom: 5rem;
        flex-direction: row;
        align-items: center;
        margin-bottom: -4rem;
    }

    .left-image-section {

        width: 100%;
        object-fit: contain;
        padding: 6rem;
        padding-left: 11rem;

    }

    .right-text-section {
        color: white;
        padding: 0 4rem 0 2rem;

        h3 {
            padding-bottom: 1.5rem;
        }

        p {
            padding-bottom: 0.5rem;
        }


    }

    .col-40 {
        background-color: #1E1919;
        padding: 3rem;
    }

    .bg-beige {
        background-color: #F7F5F2;
    }

    h2 {
        padding-top: 5rem;
        text-align: center;

    }

    .container-sm-beige {
        width: 50%;
        margin: 1rem auto;
    }

    .card-dark-beige{width: 100%;
       padding-bottom: 3rem;
    
        .center-img{
            background-color: #EEE9E2;
            padding: rem;
        }
    }
    .center-img{
        width: 350px;
        height: 350px;
        align-content: center;
    }
    .center-img>img{
        width: 60%;
        object-fit: contain;
    }
    .row-beige{display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }
    h4{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    h4,p{
        padding-right:3rem ;
    }
    .bg-lightblack{padding: 3rem;
        background-color: #2B2929;
        color: white;
    
    }
    .install-button-secondary>a {
        background-color: #3984FF;
        color: blue;
        padding: 2rem 3.5rem 2rem 1.8rem;
        border-radius: 20px;
        font-weight: 700;
    }

    .install-button-secondary{
        margin-top: rem;
    }
    .other-info-secondary{
        margin-top: 4rem;

        a {color: white;
            font-weight: 700;
            text-decoration: underline;
        }

        i {
            padding-left: 1rem;
        }
    }

    

}
